{% extends 'shop/basic.html' %}

{% block title %}  AboutUs {% endblock %}
{% block body %}




   <body >

<main role="main">
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Hey There it's<u> Aman Kumar Tiwari </u>.</h1>
      <p class="lead my-3">Of Sinhgad Academy Of Engineering Kondhwa ( " COMPUTER DEPARTMENT ") and this is my Project work of DBMS using HTML, Python, Sqlite, Django and Java Script...</p>
    </div>
  </div>





  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">My Family :<span class="text-muted">The Best Thing I Would Ever Have with Me Is You Guys...</span></h2>
        <p class="lead">No Matter What! You All Were Always There For me. And I Am ThankFul To God That, You Guys Are My Family. Love You All... And Missing You All Alot... </p>
      </div>
      <div class="col-md-4">
      <a href="https://imgur.com/i3l5ZNU"><img src="https://i.imgur.com/i3l5ZNU.jpg" title="source: imgur.com" /></a>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Hehe You Guys Know Me right!! <span class="text-muted">Aman Kumar Tiwari.</span></h2>
        <p class="lead"> . Thank You Soo Much Guys For Visiting My WebSite  .</p>
      </div>
      <div class="col-md-4">
        <a href="https://imgur.com/W2aLsrt"><img src="https://i.imgur.com/W2aLsrt.jpg" title="source: imgur.com" /></a>
      </div>
    </div>


    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017-2019 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script></body>
{% endblock %}