{% extends 'shop/basic.html' %}

{% block title %}  AboutUs {% endblock %}
{% block body %}




   <body >

<main role="main">
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Hey There it's<u> Aman Kumar Tiwari & Shardul Pattewar </u>.</h1>
      <p class="lead my-3">Of Sinhgad Academy Of Engineering Kondhwa ( " COMPUTER DEPARTMENT ") and this is my Project work using Machine Learning, HTML, Python, Sqlite, Django and Java Script...</p>
    </div>
  </div>





  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">REGRESSION<span class="text-muted">What is Regression and Classification in Machine Learning?...</span></h2>
        <p class="lead">Data scientists use many different kinds of machine learning algorithms to discover patterns in big data that lead to actionable insights. At a high level, these different algorithms can be classified into two groups based on the way they “learn” about data to make predictions: supervised and unsupervised learning.... </p>
      </div>
      <div class="col-md-4">
      <img src="/media/regression.jpg"  />
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">LINEAR REGRESSION </h2>
        <p class="lead"> . Linear Regression is a machine learning algorithm based on supervised learning. It performs a regression task. Regression models a target prediction value based on independent variables. It is mostly used for finding out the relationship between variables and forecasting. Different regression models differ based on – the kind of relationship between dependent and independent variables, they are considering and the number of independent variables being used. .</p>
        <span class="text-muted"><u><b>Click Below to See the Graph of Our Project on Linear Regression</b></u></span>
         <li class="nav-item">
        <a class="btn btn-primary btn-lg" href="/shop/search" role="button">SDL Project</a>
      </li>
      </div>
      <div class="col-md-4">
      </div>
    </div>
<img src="/media/linearRegression.jpg"  />

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017-2019 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script></body>
{% endblock %}